#water-drop {
  background-image: url(d3_water_drop_transparent.png);
  width: 235px;
  height: 193px;
  position: relative;
  top: -200px;
  background-repeat: no-repeat;
  background-size: 132px;
  pointer-events: none;
}

.water-drop-legend-container {
  list-style: none;
  margin: 0;
  margin-left: 65px;
  padding: 0px;
  height: 193px;
  pointer-events: none;
}

.water-drop-legend-container li {
  width: 160px;
  position: absolute;
  pointer-events: none;
}

.water-drop-legend-container li div {
  width: 100%;
  text-align: right;
  border-bottom: #000 dotted 1px;
  color: #b1b1b1;
  margin-top: -18px;
  font-family: open-sans, helvetica;
  font-weight: 100;
  text-transform: uppercase;
}

.water-drop-legend-container li.even div {
  padding-left: 100px;
}

.water-drop-legend-container .legend span {
  font-weight: 800;
  color: #b1b1b1;
}
